<!-- Header (Navbar) -->
<nav class="navbar navbar-expand-lg navbar-light border-bottom" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-primary" href="#">
            <img src="/images/FeeEase.png" alt="FeeEase Logo" width="100" height="64">
        </a>
        <div class="d-flex justify-content-center position-absolute w-100" style="left: 50%; transform: translateX(-50%);">
            <span class="navbar-text fw-bold" style="font-size: 2rem; color:#068388;" th:text="${SchoolName}">Dashboard</span>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/userIcon.png" class="rounded-circle" width="32" height="32">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>