<div th:fragment="sidebar(currentPage, subPage)" class="menu-section">
    <nav class="nav flex-column">
        <a class="nav-link" th:classappend="${currentPage == 'dashboard' ? 'active' : ''}" href="/fee_ease/dashboard">Dashboard</a>

        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"
           th:classappend="${currentPage == 'school' ? 'active' : ''}">School Management</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:classappend="${subPage == 'session' ? 'active' : ''}" href="/fee_ease/sessions">Session Management</a></li>
        </ul>

        <a class="nav-link" th:classappend="${currentPage == 'users' ? 'active' : ''}" href="/fee_ease/users">User Management</a>
        <a class="nav-link" th:classappend="${currentPage == 'students' ? 'active' : ''}" href="/fee_ease/students">Student Management</a>

        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"
           th:classappend="${currentPage == 'fees' ? 'active' : ''}">Fees Management</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:classappend="${subPage == 'feeType' ? 'active' : ''}" href="#">Fee Type</a></li>
            <li><a class="dropdown-item" th:classappend="${subPage == 'fees' ? 'active' : ''}" href="#">Fees</a></li>
            <li><a class="dropdown-item" th:classappend="${subPage == 'reports' ? 'active' : ''}" href="#">Reports</a></li>
        </ul>
    </nav>
</div>